@import "tailwindcss";


@theme  {
  --color-primary: #4d6bfe;
  --color-dark : #292a2d;
  --color-darker : #212327 ;
  --color-light-darker : #404045;
  --color-lighter-dark : #71717a;
  --color-another-dark : #414159;
}

html{
  @apply scroll-smooth;
}

::-webkit-scrollbar{
  display: none;
}

.loader div:nth-child(2){
  animation-delay: 0.2s;
}

.loader div:nth-child(3){
  animation-delay: 0.4s;
}

code{
  white-space: pre-wrap !important;
}

pre{
  border-radius: 10px !important;
}